# サービスアカウントのメールアドレス（Google Cloud Consoleで発行）
GOOGLE_SERVICE_ACCOUNT_EMAIL=your-service-account@your-project.iam.gserviceaccount.com

# サービスアカウントの秘密鍵（JSONキーの private_key の値をそのまま貼り付け。
# 改行は \n のままで構いません）
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"

# 対象のGoogleスプレッドシートID
# 例）https://docs.google.com/spreadsheets/d/【ここがID】/edit の【ここがID】部分
GOOGLE_SHEET_ID=1m4IntQ-T7DIrQxXF1iy-poplT45luUsTnt5ndbzhXrM
